---
import { Picture } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import GridImageBackButton from './GridImageBackButton.vue'
import GridImageInfoOverlay from './GridImageInfoOverlay.vue'

interface Props {
  entry: CollectionEntry<'grid'>
  prev?: CollectionEntry<'grid'>
  next?: CollectionEntry<'grid'>
}

const { entry, prev, next } = Astro.props
---

<div class="fixed inset-0 h-dvh w-full bg-slate-50 px-2 py-3 dark:bg-gray-950">
  <Picture
    src={entry.data.image}
    alt={entry.data.alt}
    width="1800"
    densities={[1, 2, 3]}
    formats={['avif', 'webp']}
    pictureAttributes={{
      class: 'flex w-full h-full items-center justify-center',
    }}
    class="mx-auto h-auto max-h-full w-auto max-w-full -rotate-[0.5deg] -skew-x-[0.5deg] overflow-hidden rounded-xl shadow-xl shadow-slate-700/10 dark:shadow-slate-950/20"
  />

  <GridImageBackButton client:idle />

  <GridImageInfoOverlay entry={entry} client:load />
</div>
