---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import BoxedContent from '../../components/BoxedContent.astro'

export async function getStaticPaths() {
  const readsEntries = await getCollection('reads')
  return readsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title="Reads">
  <main>
    <BoxedContent>
      <article class="prose prose-xl prose-flori dark:prose-invert">
        <Content />
      </article>
    </BoxedContent>
  </main>
</Layout>
