---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import BoxedContent from '../../components/BoxedContent.astro'

export async function getStaticPaths() {
  const readsEntries = await getCollection('reads', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true
  })
  return readsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

interface Props {
  entry: CollectionEntry<'reads'>
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title="Reads">
  <main>
    <BoxedContent>
      <article class="prose prose-xl prose-flori dark:prose-invert">
        <h1>{entry.data.title}</h1>

        <time datetime={entry.data.pubDate.toISOString()}>
          {entry.data.pubDate.toDateString()}
        </time>

        <Content />
      </article>
    </BoxedContent>
  </main>
</Layout>
