.highlight {
  @apply inline-block -rotate-1 -skew-x-3 rounded bg-gradient-to-tr from-pink-500 to-blue-500 px-1.5 text-white;
}

.link {
  @apply underline hover:no-underline;
}

.fancy-list {
  @apply list-none pl-3 sm:pl-6;

  & li {
    @apply relative;

    ::before {
      content: '';
      @apply absolute -left-3 top-2.5 inline-block h-2 w-1.5 -rotate-1 -skew-x-6 rounded-[1px] bg-gradient-to-tr from-slate-400 to-slate-500 leading-none;
    }
  }
}

.fix-bg-clip-text-safari {
  clip-path: inset(1px);
  padding: 1px;
}
