@font-face {
  font-family: 'Mona Sans';
  src:
    url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-display: swap;
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

.highlight {
  @apply inline-block -rotate-1 -skew-x-3 rounded bg-gradient-to-tr from-pink-500 to-blue-500 px-1.5 text-white;
}

.link {
  @apply underline hover:no-underline;
}

.fancy-list {
  @apply list-none pl-3 sm:pl-6;

  & li {
    @apply relative;

    ::before {
      content: '';
      @apply absolute -left-3 top-2.5 inline-block h-2 w-1.5 -rotate-1 -skew-x-6 rounded-[1px] bg-gradient-to-tr from-slate-400 to-slate-500 leading-none;
    }
  }
}

/* Apply a fix for crappy borders in Safari */
:where(.bg-clip-text) {
  clip-path: inset(1px);
  padding: 1px;
}

.prose-flori :where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

.image-grid-button {
  @apply flex h-10 w-10 -rotate-[0.1deg] -skew-x-[0.5deg] items-center justify-center rounded-lg bg-slate-300/50 text-center backdrop-blur transition-all duration-150 hover:scale-105 focus:outline-none focus-visible:ring-2 focus-visible:ring-slate-700 focus-visible:ring-offset-2 focus-visible:ring-offset-slate-50 hover:motion-safe:-rotate-2 dark:bg-slate-700/80 dark:focus-visible:ring-slate-300 dark:focus-visible:ring-offset-gray-950;

  &.active {
    @apply bg-slate-800/80 text-slate-100 dark:bg-slate-200/80 dark:text-slate-700;
  }
}
