---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import type { SEOData } from '../../types/SEO'
import Layout from '../../layouts/Layout.astro'
import BoxedContent from '../../components/BoxedContent.astro'
import Photograph from '../../components/Photograph.vue'

export async function getStaticPaths() {
  const gridEntries = await getCollection('grid')
  return gridEntries.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }))
}

interface Props {
  entry: CollectionEntry<'grid'>
}

const { entry } = Astro.props

/// Page title
const title = entry.data.title

/// OpenGraph meta tags data
const seo: SEOData = {
  head: {
    title,
    description: entry.data.alt,
  },
  og: {
    image: entry.data.image,
    type: 'article',
  },
}
---

<Layout seo={seo}>
  <main>
    <BoxedContent>
      <Photograph entry={entry} client:load />
    </BoxedContent>
  </main>

  <style>
    body {
      overflow: hidden;
    }
  </style>
</Layout>
