---
import Layout from '../layouts/Layout.astro'
import BoxedContent from '../components/BoxedContent.astro'
import type { SEOData } from '../types/SEO'

/// Page title
const title = 'About'

/// OpenGraph meta tags data
const seo: SEOData = {
  head: {
    title,
    description: 'As web developer I do a Vue things.',
  },
  og: {
    type: 'website',
  },
}
---

<Layout seo={seo}>
  <main>
    <BoxedContent>
      <h1 class="mb-6 text-4xl font-black">About me</h1>

      <p class="text-xl italic">
        Whoopsie daisy! This page is a <span class="highlight"
          >work in progress</span
        >, but fear not - I'm on the case! While I channel my inner web wizard
        to conjure up some fresh content, feel free to take a peek around and
        see what I've got so far. Don't forget to check back soon for more
        web-tastic updates!
      </p>
    </BoxedContent>
  </main>
</Layout>
