---
import Layout from '../layouts/Layout.astro'
import BoxedContent from '../components/BoxedContent.astro'
---

<Layout title="About">
  <main>
    <BoxedContent>
      <h2 class="mb-6 text-4xl font-black">Imprint</h2>
    </BoxedContent>
  </main>
</Layout>
