---
import Layout from '../layouts/Layout.astro'
import BoxedContent from '../components/BoxedContent.astro'
---

<Layout title="About">
  <main>
    <BoxedContent>
      <div
        class="prose prose-headings:text-slate-600 prose-p:text-slate-600 prose-a:text-slate-900 dark:prose-headings:text-slate-100 dark:prose-p:text-slate-100 dark:prose-a:text-slate-300"
      >
        <h1>Imprint</h1>

        <h2>Information according to &sect;5 TMG</h2>

        <p>
          Florian van der Gali&euml;n<br />
          Rupprechtstr. 19<br />
          95444 Bayreuth<br />
          Germany
        </p>

        <h2>Contact</h2>

        <p>Email: website@flori.dev</p>
      </div>
    </BoxedContent>
  </main>
</Layout>
