---
import Layout from '../layouts/Layout.astro'
import BoxedContent from '../components/BoxedContent.astro'
import type { SEOData } from '../types/SEO'

/// Page title
const title = 'Imprint'

/// OpenGraph meta tags data
const seo: SEOData = {
  head: {
    title,
    description: 'Personal website of Florian van der Galiën.',
  },
  og: {
    type: 'website',
  },
}
---

<Layout seo={seo}>
  <main>
    <BoxedContent>
      <div class="prose prose-flori dark:prose-invert">
        <h1>Imprint</h1>

        <h2>Information according to &sect;5 TMG</h2>

        <p>
          Florian van der Gali&euml;n<br />
          Rupprechtstr. 19<br />
          95444 Bayreuth<br />
          Germany
        </p>

        <h2>Contact</h2>

        <p>Email: website@flori.dev</p>
      </div>
    </BoxedContent>
  </main>
</Layout>
