---
import Layout from '../layouts/Layout.astro'
import BoxedContent from '../components/BoxedContent.astro'
import FluidContent from '../components/FluidContent.astro'
---

<style>
  :root {
    --contentPaddingY: 3rem;
  }

  @media (min-width: 640px) {
    :root {
      --contentPaddingY: 6rem;
    }
  }
</style>

<Layout title="Hello, I am Flori ✌️">
  <main>
    <BoxedContent>
      <h1 class="my-12 text-6xl font-black sm:text-7xl">
        Hello, I am <span
          class="bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent"
          >Flori</span
        > ✌️
      </h1>
      <p class="text-2xl font-semibold text-slate-500 sm:text-3xl">
        As a web developer <br class="inline sm:hidden" />I do a <span
          class="rounded bg-gradient-to-l from-[#42d392] to-[#647eff] px-2.5 py-1 font-mono font-extrabold text-white"
          >Vue</span
        > things.<br />Let me introduce myself.
      </p>
    </BoxedContent>

    <FluidContent>
      <div class="flex flex-col items-center gap-12 md:flex-row">
        <div>
          <h2 class="mb-6 text-4xl font-black">About me</h2>
          <p class="text-xl">
            I am a web developer from Germany. I am passionate about web
            development and I love to learn new things. I am currently working
            as a freelancer and I am looking for new projects.
          </p>
        </div>

        <div
          class="relative aspect-[9/10] w-44 flex-none rotate-2 overflow-hidden rounded-xl sm:w-72 sm:rounded-2xl"
        >
          <img
            alt="Florian van der Galiën"
            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixqx=MmBdIi2FKU&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=1024&h=1024&q=80"
            decoding="async"
            class="absolute inset-0 h-full w-full object-cover"
            loading="lazy"
          />
        </div>
      </div>
    </FluidContent>

    <BoxedContent>
      <h2 class="mb-6 text-4xl font-black">Projects</h2>
      <p class="text-xl font-semibold">Here are some of my projects.</p>
      <p class="text-xl">
        I am currently working on a new project called <a
          class="font-semibold text-violet-500 hover:text-violet-600"
          href="#">Project X</a
        >. It is a project management tool for freelancers. I am also working on
        a new version of my website. I am using Astro to build it.
      </p>
    </BoxedContent>
  </main>
</Layout>
