---
import { Picture } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import BoxedContent from '../components/BoxedContent.astro'
import FluidContent from '../components/FluidContent.astro'
import MyAge from '../components/MyAge.astro'
import MySkills from '../components/MySkills.astro'
import HotStuff from '../components/HotStuff.astro'
import type { SEOData } from '../types/SEO'

import imageFlori from '../assets/images/flori.jpg'

/// Page title
const title = 'Hello, I am Flori ✌️'

/// OpenGraph meta tags data
const seo: SEOData = {
  head: {
    title,
    description: 'Personal website of Florian van der Galiën.',
  },
  og: {
    type: 'website',
  },
}
---

<style>
  :root {
    --contentPaddingY: 3rem;
  }

  @media (min-width: 640px) {
    :root {
      --contentPaddingY: 6rem;
    }
  }
</style>

<Layout seo={seo}>
  <main>
    <BoxedContent>
      <h1 class="my-12 text-6xl font-black dark:text-white sm:text-7xl">
        <span class="relative z-10">Hello, I am</span><br />
        <span
          class="inline-block -rotate-2 -skew-x-6 rounded bg-gradient-to-tr from-pink-500 to-blue-500 px-6 py-4 text-white"
          >Flori ✌️</span
        >
      </h1>
      <p
        class="text-2xl font-semibold text-slate-500 dark:text-slate-200 sm:text-3xl"
      >
        As a web developer <br class="inline sm:hidden" />I do a <span
          class="inline-block -rotate-2 -skew-x-6 rounded bg-gradient-to-l from-[#42d392] to-[#647eff] px-2.5 py-1 font-mono font-extrabold text-white"
          >Vue</span
        > things.<br />Let me introduce myself.
      </p>
    </BoxedContent>

    <FluidContent>
      <div class="flex flex-col items-center gap-12 md:flex-row">
        <div>
          <h2 class="mb-12 text-4xl font-black">About me</h2>
          <p class="mb-8 text-xl">
            Welcome to my digital realm, fellow web geeks! I'm a <MyAge />
            <span class="highlight font-medium">father of two</span> and a <span
              class="highlight font-medium">loving husband</span
            >
             who spends his days delving into the mysteries of <span
              class="highlight font-medium">Vue.js web development</span
            >. When I'm not coding, you'll usually find me binge-watching
            Stranger Things or exploring the
            <span class="inline-block translate-y-1 rotate-180"
              >Upside Down</span
            >.
          </p>

          <p class="mb-8 text-xl">
            As a passionate web developer, I'm always on the hunt for new and
            exciting ways to push the boundaries of what's possible with Vue.js.
            On this site, you'll find a wealth of resources, from tutorials and
            code snippets to insights and musings on the latest trends in web
            development.
          </p>

          <p class="mb-8 text-xl">
            So whether you're a seasoned Vue.js pro or just starting out, come
            join me on this journey of discovery and adventure. Together, we'll
            explore the frontiers of web development and create some truly
            amazing digital experiences. Let's do this!
          </p>
        </div>

        <div
          class="relative aspect-[9/10] w-full flex-none rotate-2 overflow-hidden rounded-xl sm:w-72 sm:rounded-2xl"
        >
          <Picture
            alt="Florian van der Galiën"
            src={imageFlori}
            formats={['avif', 'webp']}
            densities={[1, 2, 3]}
            width={300}
            height={300}
            class="absolute inset-0 h-full w-full object-cover"
            loading="eager"
          />
        </div>
      </div>
    </FluidContent>

    <BoxedContent>
      <h2 class="mb-4 text-4xl font-black">Skills</h2>
      <h3 class="mb-4 text-xl font-semibold">
        What I do for a living? <span class="highlight">Code.</span>
      </h3>
      <p class="mb-12 text-xl">
        With a focus on Vue.js, Tailwind CSS, TypeScript and iOS development
        using Swift, I have a strong foundation in modern web and app
        development. While I'm well-versed in WordPress, I'm passionate about
        building custom solutions that deliver exceptional user experiences.
      </p>

      <MySkills limit={6} />

      <div class="mt-12 text-center">
        <a
          href="/about/"
          class="inline-flex -skew-x-6 items-center rounded bg-gradient-to-tr from-pink-500 to-blue-500 px-8 py-2 font-mono font-semibold text-white transition-all duration-150 hover:z-10 hover:rotate-0 hover:skew-x-0 hover:scale-150 hover:shadow-2xl"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="mr-1 h-5 w-5"
          >
            <path
              d="M4.75 3A1.75 1.75 0 003 4.75v2.752l.104-.002h13.792c.035 0 .07 0 .104.002V6.75A1.75 1.75 0 0015.25 5h-3.836a.25.25 0 01-.177-.073L9.823 3.513A1.75 1.75 0 008.586 3H4.75zM3.104 9a1.75 1.75 0 00-1.673 2.265l1.385 4.5A1.75 1.75 0 004.488 17h11.023a1.75 1.75 0 001.673-1.235l1.384-4.5A1.75 1.75 0 0016.896 9H3.104z"
            ></path>
          </svg>

          <span>/about/</span></a
        >
      </div>
    </BoxedContent>

    <HotStuff />

    <BoxedContent>
      <h2 class="mb-4 text-xl font-semibold">
        Now <span class="highlight">what?</span>
      </h2>
      <p class="text-xl">
        You've reached the end of my homepage, but the adventure doesn't have to
        end here. Check out my portfolio to see some of the web wonders I've
        crafted, and don't be a stranger - contact me and let's continue our
        journey through the ever-changing landscape of web development!
      </p>

      <ul class="mt-8 flex justify-center gap-4">
        <li>
          <a
            href="https://sueden.social/@florivdg"
            target="_blank"
            rel="noopener noreferrer"
            class="block opacity-75 transition-opacity duration-150 hover:opacity-100"
            ><span class="sr-only">Florian van der Galiën on Mastodon</span><img
              src="/icons/mastodon.svg"
              alt="Mastodon"
              width="230.842"
              height="247.477"
              class="h-auto w-12"
              loading="lazy"
            /></a
          >
        </li>
        <li>
          <a
            href="https://github.com/florivdg"
            target="_blank"
            rel="noopener noreferrer"
            class="block opacity-75 transition-opacity duration-150 hover:opacity-100"
            ><span class="sr-only">Florian van der Galiën on Github</span><img
              src="/icons/github-mark.svg"
              alt="Github"
              width="98"
              height="96"
              class="h-auto w-12 dark:hidden"
              loading="lazy"
            />
            <img
              src="/icons/github-mark-white.svg"
              alt="Github"
              width="98"
              height="96"
              class="hidden h-auto w-12 dark:inline"
              loading="lazy"
            /></a
          >
        </li>
      </ul>
    </BoxedContent>
  </main>
</Layout>
