---
import { Picture } from '@astrojs/image/components'
import Layout from '../layouts/Layout.astro'
import BoxedContent from '../components/BoxedContent.astro'
import FluidContent from '../components/FluidContent.astro'
import MyAge from '../components/MyAge.astro'
import MySkills from '../components/MySkills.astro'
---

<style>
  :root {
    --contentPaddingY: 3rem;
  }

  @media (min-width: 640px) {
    :root {
      --contentPaddingY: 6rem;
    }
  }

  .gradient-underline {
    @apply bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 bg-[length:100%_3px] bg-bottom bg-no-repeat font-semibold text-slate-700;
  }
</style>

<Layout title="Hello, I am Flori ✌️">
  <main>
    <BoxedContent>
      <h1 class="my-12 text-6xl font-black sm:text-7xl">
        Hello, I am <span
          class="bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent"
          >Flori</span
        > ✌️
      </h1>
      <p class="text-2xl font-semibold text-slate-500 sm:text-3xl">
        As a web developer <br class="inline sm:hidden" />I do a <span
          class="rounded bg-gradient-to-l from-[#42d392] to-[#647eff] px-2.5 py-1 font-mono font-extrabold text-white"
          >Vue</span
        > things.<br />Let me introduce myself.
      </p>
    </BoxedContent>

    <FluidContent>
      <div class="flex flex-col items-center gap-12 md:flex-row">
        <div>
          <h2 class="mb-12 text-4xl font-black">About me</h2>
          <p class="mb-8 text-xl">
            Welcome to my digital realm, fellow web geeks! I'm a <MyAge />
            <span class="gradient-underline">father of two</span> and a <span
              class="gradient-underline">loving husband</span
            >
            who spends his days delving into the mysteries of <span
              class="gradient-underline">Vue.js web development</span
            >. When I'm not coding, you'll usually find me binge-watching
            Stranger Things or exploring the
            <span class="inline-block translate-y-1 rotate-180"
              >Upside Down</span
            >.
          </p>

          <p class="mb-8 text-xl">
            As a passionate web developer, I'm always on the hunt for new and
            exciting ways to push the boundaries of what's possible with Vue.js.
            On this site, you'll find a wealth of resources, from tutorials and
            code snippets to insights and musings on the latest trends in web
            development.
          </p>

          <p class="mb-8 text-xl">
            So whether you're a seasoned Vue.js pro or just starting out, come
            join me on this journey of discovery and adventure. Together, we'll
            explore the frontiers of web development and create some truly
            amazing digital experiences. Let's do this!
          </p>
        </div>

        <div
          class="relative aspect-[9/10] w-44 flex-none rotate-2 overflow-hidden rounded-xl sm:w-72 sm:rounded-2xl"
        >
          <Picture
            alt="Florian van der Galiën"
            src="/images/flori.jpg"
            sizes="(min-width: 760px) 300px, 180px"
            widths={[180, 300, 360, 600, 900]}
            aspectRatio={1 / 1}
            class="absolute inset-0 h-full w-full object-cover"
          />
        </div>
      </div>
    </FluidContent>

    <BoxedContent>
      <h2 class="mb-4 text-4xl font-black">Skills</h2>
      <h3 class="mb-4 text-xl font-semibold">
        What I do for a living? <span class="gradient-underline">Code.</span>
      </h3>
      <p class="mb-12 text-xl">
        With a focus on Vue.js, Tailwind CSS, TypeScript and iOS development
        using Swift, I have a strong foundation in modern web and app
        development. While I'm well-versed in WordPress, I'm passionate about
        building custom solutions that deliver exceptional user experiences.
      </p>

      <MySkills />

      <div class="mt-12 text-center">
        <a
          href="/about/"
          class="inline-block rounded-full bg-gradient-to-tr from-pink-500 to-blue-500 px-8 py-2 text-sm font-semibold text-white"
          >More skills at <span class="font-mono">/about/</span></a
        >
      </div>
    </BoxedContent>
  </main>
</Layout>
