---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Hello, I am Flori ✌️">
  <main class="container max-w-[75ch] p-6">
    <h1 class="mb-6 text-5xl font-extrabold">
      Hello, I am <span
        class="bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent"
        >Flori</span
      > ✌️
    </h1>

    <p class="">
      As a web developer I do a Vue things.<br />Let me introduce myself.
    </p>
  </main>
</Layout>
