---
import { Picture } from '@astrojs/image/components'
import Layout from '../layouts/Layout.astro'
import BoxedContent from '../components/BoxedContent.astro'
import FluidContent from '../components/FluidContent.astro'
---

<style>
  :root {
    --contentPaddingY: 3rem;
  }

  @media (min-width: 640px) {
    :root {
      --contentPaddingY: 6rem;
    }
  }
</style>

<Layout title="Hello, I am Flori ✌️">
  <main>
    <BoxedContent>
      <h1 class="my-12 text-6xl font-black sm:text-7xl">
        Hello, I am <span
          class="bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent"
          >Flori</span
        > ✌️
      </h1>
      <p class="text-2xl font-semibold text-slate-500 sm:text-3xl">
        As a web developer <br class="inline sm:hidden" />I do a <span
          class="rounded bg-gradient-to-l from-[#42d392] to-[#647eff] px-2.5 py-1 font-mono font-extrabold text-white"
          >Vue</span
        > things.<br />Let me introduce myself.
      </p>
    </BoxedContent>

    <FluidContent>
      <div class="flex flex-col items-center gap-12 md:flex-row">
        <div>
          <h2 class="mb-12 text-4xl font-black">About me</h2>
          <p class="mb-8 text-xl">
            Welcome to my digital realm, fellow web geeks! I'm a 36-year-old
            father of two who spends his days delving into the mysteries of
            Vue.js web development. When I'm not coding, you'll usually find me
            binge-watching Stranger Things or exploring the Upside Down.
          </p>

          <p class="mb-8 text-xl">
            As a passionate web developer, I'm always on the hunt for new and
            exciting ways to push the boundaries of what's possible with Vue.js.
            On this site, you'll find a wealth of resources, from tutorials and
            code snippets to insights and musings on the latest trends in web
            development.
          </p>

          <p class="mb-8 text-xl">
            So whether you're a seasoned Vue.js pro or just starting out, come
            join me on this journey of discovery and adventure. Together, we'll
            explore the frontiers of web development and create some truly
            amazing digital experiences. Let's do this!
          </p>
        </div>

        <div
          class="relative aspect-[9/10] w-44 flex-none rotate-2 overflow-hidden rounded-xl sm:w-72 sm:rounded-2xl"
        >
          <Picture
            alt="Florian van der Galiën"
            src="/images/flori.jpg"
            sizes="(min-width: 760px) 300px, 180px"
            widths={[180, 300, 360, 600, 900]}
            aspectRatio={1 / 1}
            class="absolute inset-0 h-full w-full object-cover"
          />
        </div>
      </div>
    </FluidContent>

    <BoxedContent>
      <h2 class="mb-6 text-4xl font-black">Projects</h2>
      <p class="text-xl font-semibold">Here are some of my projects.</p>
      <p class="text-xl">
        I am currently working on a new project called <a
          class="font-semibold text-sky-700 hover:text-sky-800"
          href="#">Project X</a
        >. It is a project management tool for freelancers. I am also working on
        a new version of my website. I am using Astro to build it.
      </p>
    </BoxedContent>
  </main>
</Layout>
