---
import { Picture } from '@astrojs/image/components'
import Layout from '../layouts/Layout.astro'
import BoxedContent from '../components/BoxedContent.astro'
import UsesList from '../components/UsesList.astro'

export interface UsesSection {
  title: string
  secondTitle?: string
  uses: Uses[]
}

export interface Uses {
  title: string
  description: string
  url?: string
}

const entries: UsesSection[] = [
  {
    title: 'Editor',
    secondTitle: 'and Terminal',
    uses: [
      {
        title: 'Visual Studio Code',
        description: 'My go-to code editor for all things web development.',
        url: 'https://code.visualstudio.com/',
      },
      {
        title: 'Warp',
        description:
          "It's like the future has finally arrived in the terminal.",
        url: 'https://warp.dev/',
      },
      {
        title: 'Starship',
        description: 'A minimal, infinitely customizable prompt for any shell.',
        url: 'https://starship.rs/',
      },
      {
        title: 'MonoLisa',
        description:
          'A font designed to improve developers’ productivity and reduce fatigue.',
        url: 'https://monolisa.dev/',
      },
      {
        title: 'GitHub Dark',
        description: 'My editor theme of choice. I like to use Nord as well.',
        url: 'https://marketplace.visualstudio.com/items?itemName=GitHub.github-vscode-theme',
      },
      {
        title: 'Xcode',
        description:
          "You kinda have to use it for Apple development, but it doesn't suck.",
        url: 'https://developer.apple.com/xcode/',
      },
    ],
  },

  {
    title: 'Hardware',
    uses: [
      {
        title: 'Apple Mac Studio',
        description:
          "With the Apple M1 Max from 2022. It's a beast! Love this machine.",
        url: 'https://www.apple.com/mac-studio/',
      },
      {
        title: 'LG 27UK850-W',
        description:
          'A 27" 4K monitor. My temporary solution until Apple releases a better Studio Display.',
      },
    ],
  },

  {
    title: 'Desk',
    secondTitle: ' setup',
    uses: [
      {
        title: 'Desktopia Pro X',
        description:
          "An electrical height adjustable desk. It reminds me to stand up by vibrating. It's solid oak and so beautiful.",
        url: 'https://www.ergotopia.de/ergonomie-shop/hoehenverstellbarer-schreibtisch/desktopia-pro-elektrisch-memoryschalter',
      },
      {
        title: 'RECARO Exo FX',
        description:
          'A gaming chair. It keeps me comfortable and focused while working.',
        url: 'https://www.recaro-gaming.com/en/product/recaro-exo-fx-iron-grey/',
      },
    ],
  },
]
---

<Layout title="Uses">
  <main>
    <BoxedContent>
      <article>
        <h1 class="mb-6 text-4xl font-black">Uses</h1>
        <p class="text-xl">
          Welcome to my Uses page! This is a page where I list out all the
          hardware, software, and tools that I use on a <span class="highlight"
            >daily basis</span
          > to help me stay productive and efficient. Inspired by Wes Bos and his
          popular
          <a
            href="https://wesbos.com/uses"
            target="_blank"
            rel="noopener noreferrer"
            class="link">"Uses" page</a
          >, I wanted to create my own list to share with others who are curious
          about what tools and resources I rely on to get things done.
        </p>
        <p class="mt-4 text-xl">
          So without further ado, let's dive into my tech stack!
        </p>

        <div class="group relative mt-8 mb-16">
          <Picture
            alt="A futuristic Apple Mac Studio on an oak desk by night, nerdy, plants, dark walls, ambient lighting (MidJourney v4)"
            src="/images/desk-generated.jpg"
            sizes="(min-width: 768px) 650px, 360px"
            widths={[360, 720, 1440, 1950]}
            aspectRatio={3 / 2}
            width={1280}
            height={853}
            loading="eager"
            class="-rotate-1 -skew-x-3 rounded-lg shadow-lg"
          />

          <div
            class="absolute bottom-0 left-8 right-8 z-10 -translate-y-8 -rotate-3 rounded bg-slate-800 bg-opacity-80 py-2 px-4 text-white opacity-0 backdrop-blur-sm transition duration-300 group-hover:translate-y-4 group-hover:rotate-1 group-hover:opacity-100 sm:py-4 sm:px-12"
          >
            <p class="text-sm font-medium italic leading-tight">
              A futuristic Apple Mac Studio on an oak desk by night, nerdy,
              plants, dark walls, ambient lighting (MidJourney v4)
            </p>
          </div>
        </div>

        {
          entries.map((u) => {
            return (
              <UsesList
                title={u.title}
                secondTitle={u.secondTitle}
                uses={u.uses}
              />
            )
          })
        }
      </article>
    </BoxedContent>
  </main>
</Layout>
