<section
  class="my-0 mb-16 bg-white shadow-2xl md:mb-24 lg:my-24 dark:dark:bg-gray-800 dark:shadow-black/40"
>
  <div class="mx-auto max-w-7xl px-8 py-8 sm:px-16 lg:py-16">
    <slot />
  </div>
</section>
