---
const year = new Date().getFullYear()

const footerNavItems = [
  {
    name: 'Privacy Policy',
    href: '/privacy-policy/',
  },
  {
    name: 'Imprint',
    href: '/imprint/',
  },
]

const currentPath = new URL(Astro.request.url).pathname
---

<footer
  class="mx-auto mt-16 max-w-5xl border-t border-slate-100 text-slate-500 sm:px-8"
>
  <section class="bg-white px-4">
    <div class="py-16">
      <div>
        <p class="mb-16 text-center text-sm font-medium">
          This thing was made with

          <a
            href="https://astro.build"
            target="_blank"
            rel="noopener noreferrer"
            title="Astro"
          >
            <img
              src="/icons/astro-icon-dark.svg"
              alt="Astro"
              width="63"
              height="79"
              class="ml-1 inline-block h-5 w-auto"
              loading="lazy"
            />
          </a><span class="sr-only">Astro,</span>

          <a
            href="https://www.starbucksathome.com"
            target="_blank"
            rel="noopener noreferrer"
            title="Starbucks coffee"
          >
            <img
              src="/icons/starbucks.svg"
              alt="Starbucks logo"
              width="237.4"
              height="240.3"
              class="mx-1 inline-block h-5 w-auto"
              loading="lazy"
            />
          </a><span class="sr-only">Starbucks coffee</span>

          and

          <a
            href="https://code.visualstudio.com"
            target="_blank"
            rel="noopener noreferrer"
            title="Visual Studio Code"
          >
            <img
              src="/icons/vscode.svg"
              alt="Visual Studio Code"
              width="100"
              height="100"
              class="ml-1 inline-block h-5 w-auto"
              loading="lazy"
            />
          </a><span class="sr-only">Visual Studio Code</span>.
        </p>
      </div>

      <div class="grid gap-8 lg:grid-cols-2">
        <div class="text-sm font-medium">
          <ul class="flex justify-center gap-6 lg:justify-start">
            {
              footerNavItems.map((item) => (
                <li>
                  <a
                    href={item.href}
                    class:list={[
                      { 'text-pink-600': currentPath === item.href },
                    ]}
                  >
                    {item.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="">
          <p class="text-center text-sm font-medium lg:text-right">
            © {year} Florian van der Galiën. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </section>
</footer>
