---
const year = new Date().getFullYear()
---

<footer class="mx-auto mt-32 max-w-5xl border-t border-zinc-100 sm:px-8">
  <section class="bg-white px-4">
    <div class="py-16">
      <div class="grid gap-8 lg:grid-cols-2">
        <div class=""></div>
        <div class="text-center lg:text-right">
          <p class="text-sm font-medium text-zinc-400">
            © {year} Florian van der Galiën. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </section>
</footer>
