---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'

const images = (await getCollection('grid')).sort((a, b) => {
  const dateComparison = b.data.date.getTime() - a.data.date.getTime()
  if (dateComparison === 0) {
    return b.id.localeCompare(a.id)
  }
  return dateComparison
})
---

<ul class="moments grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
  {
    images.map((entry, i) => (
      <li class="moment aspect-[4/5] -rotate-[0.1deg] -skew-x-[0.5deg] overflow-hidden rounded-lg shadow-xl shadow-slate-700/10 transition-all duration-150 hover:scale-105 hover:motion-safe:-rotate-1 dark:shadow-slate-950/20">
        <a href={`/grid/${entry.slug}`} class="block h-full w-full">
          <Image
            src={entry.data.image}
            alt={entry.data.alt}
            width="600"
            densities={[1, 2, 3]}
            class="h-full w-full object-cover object-center"
            loading={i >= 3 ? 'lazy' : 'eager'}
          />
        </a>
      </li>
    ))
  }
</ul>

<style>
  .moments:has(.moment:hover) .moment:not(:hover) {
    opacity: 0.75;
  }
</style>
