---
/**
 * Main navigation items.
 */
const navItems: {
  name: string
  href: string
}[] = [
  {
    name: 'Home',
    href: '/',
  },
  {
    name: 'About',
    href: '/about/',
  },
  {
    name: 'Reads',
    href: '/reads/',
  },
  {
    name: 'Uses',
    href: '/uses/',
  },
]

const currentPath = new URL(Astro.request.url).pathname
---

<header class="mx-auto max-w-5xl sm:px-8">
  <section class="bg-white px-8 dark:bg-gray-800">
    <div class="py-10">
      <div class="fixed left-0 right-0 z-50">
        <nav class="flex justify-center">
          <ul
            class="flex -rotate-1 -skew-x-3 overflow-hidden rounded bg-white/90 text-lg font-semibold shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-gray-700/90 dark:shadow-slate-700/5 dark:ring-gray-200/20"
          >
            {
              navItems.map((item) => (
                <li>
                  <a
                    class:list={[
                      {
                        'bg-gradient-to-tr from-pink-500 to-blue-500 text-white':
                          currentPath === item.href,
                        'hover:text-slate-800 dark:hover:text-slate-400':
                          currentPath !== item.href,
                      },
                      'h-full flex items-center px-3 xs:px-6 py-2.5 transition',
                    ]}
                    href={item.href}
                  >
                    {item.href === '/' ? (
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="mx-2 h-5 w-5"
                        aria-label="Home"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    ) : (
                      item.name
                    )}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
    </div>
  </section>
</header>

<style>
  :root {
    --contentPaddingY: 3rem;
  }

  @media (min-width: 640px) {
    :root {
      --contentPaddingY: 5rem;
    }
  }

  header {
    padding-bottom: var(--contentPaddingY);
  }
</style>
