---
const stuff = [
  {
    name: 'Astro',
    url: 'https://astro.build/',
    description: 'Build faster websites.',
  },
  {
    name: ':has()',
    url: 'https://developer.mozilla.org/en-US/docs/Web/CSS/:has',
    description:
      'The functional :has() CSS pseudo-class represents an element if any of the relative selectors that are passed as an argument match at least one element when anchored against this element.',
  },
  {
    name: 'GPT-4',
    url: 'https://openai.com/gpt-4',
    description: 'Chat with GPT-4 and OpenAI API.',
  },
  {
    name: 'Container Queries',
    url: 'https://developer.mozilla.org/docs/Web/CSS/CSS_Container_Queries',
    description:
      "Container queries enable you to apply styles to an element based on the size of the element's container.",
  },
  {
    name: 'GitHub Copilot X',
    url: 'https://github.com/features/preview/copilot-x',
    description:
      'With chat and terminal interfaces, support for pull requests, and early adoption of OpenAI’s GPT-4, GitHub Copilot X is the vision for the future of AI-powered software development.',
  },
]
---

<style>
  .hot-stuff li {
    @apply transition-opacity duration-150;
  }

  .hot-stuff:has(:hover) li:not(:hover) {
    opacity: 0.5;
  }
</style>

<section class="my-24 bg-gradient-to-tr from-pink-500 to-blue-500 text-white">
  <div class="mx-auto max-w-7xl px-8 py-16 sm:px-16">
    <h2 class="mb-4 text-center text-6xl font-black">
      <span
        class="inline-block -rotate-2 -skew-x-6 rounded bg-white px-6 py-4 dark:bg-gray-800/95"
      >
        <span
          class="inline-block bg-gradient-to-tr from-pink-500 to-sky-500 bg-clip-text text-transparent"
          >🔥 Hot Stuff</span
        >
      </span>
    </h2>

    <ul class="hot-stuff mt-12 flex flex-wrap justify-center gap-2 sm:gap-4">
      {
        stuff.map((s) => (
          <li>
            <a
              href={s.url}
              target="_blank"
              rel="noopener noreferrer"
              class="relative block -rotate-2 -skew-x-3 rounded bg-white/90 px-4 py-1.5 font-mono text-xl font-semibold text-slate-700 shadow-sm backdrop-blur-sm transition-all duration-150 hover:z-10 hover:rotate-0 hover:skew-x-0 hover:scale-150 hover:shadow-2xl dark:bg-gray-800/80 dark:text-slate-100"
              title={s.description}
            >
              {s.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>
