<div
  class="my-10 flex -rotate-1 -skew-x-1 items-center rounded border border-slate-200 bg-gradient-to-tr from-cyan-50 to-fuchsia-50 px-5 py-3 dark:border-gray-700 dark:bg-gray-900 dark:from-cyan-800/20 dark:to-fuchsia-800/10"
>
  <div class="flex items-center">
    <div class="hidden flex-shrink-0 sm:block">
      <svg
        class="size-8"
        viewBox="0 0 20 20"
        fill="url(#grad1)"
        aria-hidden="true"
      >
        <defs>
          <linearGradient
            id="grad1"
            x1="0%"
            y1="0%"
            x2="100%"
            y2="0%"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(20, 20) rotate(45) translate(-20, -20)"
          >
            <stop offset="0%" style="stop-color:#ec4899;stop-opacity:1"></stop>
            <stop offset="100%" style="stop-color:#3b82f6;stop-opacity:1"
            ></stop>
          </linearGradient>
        </defs>
        <circle r="7" cx="10" cy="10" fill="white"></circle>
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="ml-3 flex-1 md:flex md:justify-between">
      <p class="text-sky-700 dark:text-sky-200"><slot /></p>
    </div>
  </div>
</div>
