---
import SpeedInsights from '@vercel/speed-insights/astro'
import SEO from '../components/SEO.astro'
import type { SEOData } from '../types/SEO'
import '../styles/index.css'

export interface Props {
  seo: SEOData
}

/// SEO
const { seo } = Astro.props
---

<html lang="en" class="h-full antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="theme-color"
      content="#fff"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="rgb(31 41 55)"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="preload"
      href="/fonts/Mona-Sans.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Monaspace-Neon.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="me" href="https://sueden.social/@florivdg" />
    <meta name="fediverse:creator" content="@florivdg@sueden.social" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <SEO seo={seo} />
  </head>
  <body class="bg-zinc-50 text-slate-600 dark:bg-gray-900 dark:text-slate-200">
    <div class="fixed inset-0 flex justify-center">
      <div class="flex w-full max-w-5xl">
        <div
          class="w-full bg-white ring-1 ring-zinc-100 dark:bg-gray-800 dark:ring-gray-700/80"
        >
        </div>
      </div>
    </div>

    <div class="relative">
      <slot />
    </div>

    <SpeedInsights />
  </body>
</html>
